@page "/purchases"
@inject TradingPlatformBlazor.Data.Repository.IOffer SqlOffer
@inject TradingPlatformBlazor.Data.Repository.IUser SqlUser
@inject IHttpContextAccessor htp
@inject IJSRuntime JSRuntime
@attribute [Authorize]

    <AuthorizeView>
        <NotAuthorized>
           <ErrorComponent ErrorCode="401"></ErrorComponent>
        </NotAuthorized>
        <Authorized>
            <h3>Раздел покупок</h3>

            <div class="container sales-content">
                <div class="row">
                    <div class="col">Дата</div>
                    <div class="col">Номер заказа</div>
                    <div class="col-2">Описание</div>
                    <div class="col">Продавец</div>
                    <div class="col">Статус</div>
                    <div class="col">Сумма</div>
                </div>
                @foreach (var item in Offers)
                {
                    <a class="a-pagesales" href="/offer/@item.Id">
                        <div class="row border content-body-sales">
                            <div class="col border-right"><p>@item.DateClosing.ToString("D")</p></div>
                            <div class="col border-right"><p>#@item.IdentifierName</p></div>
                            <div class="col-2 border-right desc-offer-sales"><p>@item.LotsDesc</p></div>
                            <div class="col border-right vendor-info-pagepurchases d-inline">
                                <a class="a-pagesales" href="/user/@item.VendorId">
                                    <img class="avatar avatar-customer-pagesales" src="img/avatars/@SqlUser.GetUserById(item.VendorId).PathAvatar" />
                                    <div class="nickname-customer-pagesales">@SqlUser.GetUserById(item.VendorId).NickName</div>
                                </a>
                            </div>
                            <div class="col border-right"><p>@StateCurOffer(item.StateOffer)</p></div>
                            <div class="col"><p>@item.LotsPrice</p></div>
                        </div>
                    </a>
                }
            </div>
        </Authorized>
    </AuthorizeView>
    @code {
        private IEnumerable<Offer> Offers;
        private int CurrentUserId;
        private string State;

        protected override async Task OnInitializedAsync()
        {
            if (htp.HttpContext.User.Claims.Count() > 0)
            {
                CurrentUserId = int.Parse(htp.HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value);
                Offers = SqlOffer.GetOffersByCustonerId(CurrentUserId).ToList();
            }
            await JSRuntime.InvokeVoidAsync("setTitle", "Покупки");
        }

        string StateCurOffer(StateOffer state)
        {
            switch (state)
            {
                case StateOffer.Canceled:
                    State = "Отменен";
                    break;
                case StateOffer.InProcess:
                    State = "В процессе";
                    break;
                case StateOffer.Completed:
                    State = "Завершен";
                    break;
                case StateOffer.ManyBack:
                    State = "Возврат";
                    break;
                default:
                    State = state.ToString();
                    break;
            }
            return State;
        }
    }

