@page "/purchases"
@inject TradingPlatformBlazor.Data.Repository.IOffer SqlOffer
@inject TradingPlatformBlazor.Data.Repository.IUser SqlUser
@inject TradingPlatformBlazor.Data.Repository.IShop SqlShop
@inject IHttpContextAccessor htp
@inject IJSRuntime JSRuntime
@attribute [Authorize]

    <AuthorizeView>
        <NotAuthorized>
           <ErrorComponent ErrorCode="401"></ErrorComponent>
        </NotAuthorized>
        <Authorized>
            <h3>Раздел покупок</h3>
            @if (Offers.Any())
            {
            <div class="container sales-content">
                <div class="row">
                    <div class="col">Дата</div>
                    <div class="col">Номер заказа</div>
                    <div class="col-2">Описание</div>
                    <div class="col">Продавец</div>
                    <div class="col">Статус</div>
                    <div class="col">Сумма</div>
                </div>
                @foreach (var item in Offers)
                {
                    <a class="a-pagesales" href="/offer/@item.Id">
                        <div class="row border content-body-sales">
                            <div class="col border-right"><p>@item.DateClosing.ToString("D")</p></div>
                            <div class="col border-right"><p>#@item.IdentifierName</p></div>
                            <div class="col-2 border-right desc-offer-sales"><p>@item.LotsDesc</p></div>
                            <div class="col border-right vendor-info-pagepurchases d-inline">
                                <a class="a-pagesales" href="@GetUrl(item)">
                                    <img class="avatar avatar-customer-pagesales" src="img/avatars/@GetPathAvatar(item)" />
                                    <div class="nickname-customer-pagesales">@GetName(item)</div>
                                </a>
                            </div>
                            <div class="col border-right"><p>@StateCurOffer(item.StateOffer)</p></div>
                            <div class="col"><p>@item.LotsPrice</p></div>
                        </div>
                    </a>
                }



            </div>
            }
            else
                {
                    <p class="info-0-off">Здесь будут ваши покупки</p>
                }
      </Authorized>
    </AuthorizeView>
    @code {
        private IEnumerable<Offer> Offers;
        private int CurrentUserId;
        private string State;
        protected override async Task OnInitializedAsync()
        {
            if (htp.HttpContext.User.Claims.Count() > 0)
            {
                CurrentUserId = int.Parse(htp.HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value);
                Offers = SqlOffer.GetOffersByCustonerId(CurrentUserId).ToList();
            }
            await JSRuntime.InvokeVoidAsync("setTitle", "Покупки");
        }

        string StateCurOffer(StateOffer state)
        {
            switch (state)
            {
                case StateOffer.Canceled:
                    State = "Отменен";
                    break;
                case StateOffer.InProcess:
                    State = "В процессе";
                    break;
                case StateOffer.Completed:
                    State = "Завершен";
                    break;
                case StateOffer.ManyBack:
                    State = "Возврат";
                    break;
                default:
                    State = state.ToString();
                    break;
            }
            return State;
        }

        string GetName(Offer item)
        {
            if(item.VendorId != 0)
            {
                return SqlUser.GetUserById(item.VendorId).NickName;
            }
            else
            {
                return SqlShop.GetShopById(item.VendorShopId).NameShop;
            }
        }

        string GetPathAvatar(Offer item)
        {
            if (item.VendorId != 0)
            {
                return SqlUser.GetUserById(item.VendorId).PathAvatar;
            }
            else
            {
                return SqlShop.GetShopById(item.VendorShopId).PathAvatarShop;
            }
        }

        string GetUrl(Offer item)
        {
            if (item.VendorId != 0)
            {
                return "/user/" + item.VendorId;
            }
            else
            {
                return "/shop/" + SqlShop.GetShopById(item.VendorShopId).ShortNameShop;
            }
        }
    }

